.title-wrapper{
  p{
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: bold;
    color: #46cdcf;
    position: relative;
    padding-left: 30px;
    &:before{
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 25px;
      height: 2px;
      background: #46cdcf;
    }
  }
}