.footer{
  background: black;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
  .footer-logo{
    width: 60%;
    display: flex;
    margin: 0 auto;
    @media (max-width: 786px) {
      max-width: 240px;
      width: 100%;
    }
  }
  .footerTop{
    background: #151515;
    border-bottom: 1px solid #222222;
    padding: 30px 0 30px 0;
    .social-links-title{
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;
      text-decoration: underline;
      text-underline-offset: 2px;
      margin-left: 16px;
    }
    .footer-info{
      @media(max-width: 786px){
        max-width: 240px;
        width: 100%;
        margin: 0 auto 20px;
      }
      p{
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 0;
        font-family: "Raleway", sans-serif;
        color: #fff;
        &.contact-info{
          display: flex;
          a{
            color: #fff;
            display: flex;
            align-items: flex-start;
            transition: all 150ms ease-in-out;
            margin-bottom: 20px;
            img{
              height: auto !important;
            }
            span{
              display: block;
              line-height: normal;
              margin-left: 7px;
            }
            &:hover{
              transform: scale(1.05);
            }
          }
          &:last-child{
            a{
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .footer-links{
      ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        li{
          padding: 10px 5px;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          @media(max-width: 767px){
            justify-content: start;
          }
          a{
            color: #fff;
            transition: 0.3s;
            display: inline-block;
            line-height: 1;
            text-align: center;
          }
          &:hover{
            a{
              transform: scale(1.1);
              color: #1876d2;
            }
          }
        }
      }
    }
  }
  .footerBottom{
    .copyright{
      text-align: center;
      padding-top: 30px;
    }
    .credits{
      padding-top: 10px;
      text-align: center;
      font-size: 13px;
      color: #fff;
      a{
        color: #46cdcf;
        text-decoration: none;
      }
    }
  }
}